<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
</style>
<meta charset="UTF-8">
<title>View All Gyms</title>
</head>
<body>
    <form>
        <table>
            <tr>
                <th>Id</th>
                <th>Gym Name</th>
                <th>Date Opened</th>
                <th>Affiliated</th>
                <th>Coaches</th>
            </tr>
            <tr th:each="currentGym : ${gyms}">
                <td th:text="${currentGym.id}" />
                <td th:text="${currentGym.name}">
                <td th:text="${currentGym.dateOpened}">
                <td th:text="${currentGym.affiliated}">
                <td align="center">
                    <table>
                        <tr th:each="coach : ${currentGym.listOfCoaches}">
                            <td align="center" th:text="${coach.firstName} + ' ' + ${coach.lastName}">
                    </table>
                </td>
                <td><a th:href="@{/editGym/{id}(id=${currentGym.id})}">Edit</a></td>
                <td><a th:href="@{/deleteGym/{id}(id=${currentGym.id})}">Delete</a></td>
            </tr>
        </table>
    </form>
    <a href="../inputGym">Add a new gym</a><br /><br />
    <a href="../index.html">Home Page</a>
</body>
</html>