<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Coach</title>
</head>
<body>
    <form th:object="${newCoach}" th:action="@{/updateCoach/{id}(id=${newCoach.id})}" method='POST'>
        Coach's First Name: <input name="firstName" size="20" th:field="*{firstName}" required> <br /> <br />
        Coach's Last Name: <input name="lastName" size="20" th:field="*{lastName}" required> <br /> <br />
        <h1>Gyms</h1>
        <table>
                <tr>
                    <th></th>
<!--                     <th>Id</th> -->
                    <th>Gym Name</th>
                </tr>
                <tr th:each="currentGym : ${gyms}">
                    <td> <input type="radio" name="gymId" th:value="${currentGym.Id}" required/>
                    <td th:text="${currentGym.name}">
                </tr>
        </table>
        <input name="submit" type="submit" value="Submit" />
    </form>
    <br /><br />
    <a href="../viewAllGyms">View all Gyms</a><br /><br />
    <a href="../viewAllCoaches">View all Coaches</a><br /><br />
    <a href="../viewAllCertifications">View all Certifications</a><br /><br />
    <a href="index.html">Home Page</a>
</body>
</html>